{% extends 'layout.njk' %}

{% block content %}

<div class="card table-container">
    <table width='100%'>
        <thead> <!-- table head - cabeçalho -->
            <tr> <!-- table row - linha -->
                <th>Instrutor</th> <!-- coluna do cabeçalho-->
                <th>Atendimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody> <!-- table body - corpo -->
            {% for instructor in instructors %}
                <tr> 
                    <td>
                        <span style='background-image: url({{instructor.avatar_url}})'></span>
                        {{instructor.name}}
                    </td> <!-- coluna dentro da linha-->
                    <td>{{instructor.services}}</td>
                    <td><a href="/instructors/{{instructor.id}}">ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}